*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game {
    width: 100%;
    height: 500px;
    border-bottom: 30px solid rgb(35, 160, 35);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}

.pipe {
    position: absolute;
    width: 80px;
    height: 75px;
    bottom: 0;
    animation: pipe-animation 1.5s infinite linear;
}

.mario{
    width: 130px;
    position: absolute;
    bottom: 0;
}

.jump{
    animation: jump 500ms ease-out;
}

.clouds{
    position: absolute;
    width: 500px;
    animation: clouds-animation 20s infinite;
}
.chao{
    width: 100%;
    height: 195px;
    background-color: rgb(247, 207, 69);
}

.buttom{
    text-align: center;
}
.reset{
    display: none;
}

.buttom button {
    position: absolute;
    width: 100px;
    height: 50px;
    border-radius: 12px;
    border: 2px solid #25b3eb;
    top: 200px;
}

.game-over img {
    width: 450px;
    position: absolute;
    text-align: center;
    left: 510px;
    bottom: 300px;
}

@keyframes pipe-animation {
    from{
        right: -60px;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {
    0%{
        bottom: 0;
    }

    40%{
        bottom: 180px;
    }

    50%{
        bottom: 180px;
    }

    60%{
        bottom: 180px;
    }

    100%{
        bottom: 0;
    }
}

@keyframes clouds-animation{
    from {
        right: -550px;
    }

    to{
        right: 100%;
    }
}